*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main-content
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 40px;
    color: grey;
}
footer
{
    width: 100%;
    background-color: #26272b;
    opacity: .8;
}
.sec-1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 10px;
}
.about
{
    width: 40%;
}
.sec-1 h2{
    font-size: 18px;
    text-transform: uppercase;
    color: whitesmoke;
}
.about p{
    text-align: justify;
    color: grey;
    line-height: 24px;
    margin-top: 10px;
}
.sec-1 ul{
    list-style: none;
}
hr
{
    text-shadow: none;
    opacity: .2;
    
}
.sec-1 ul li
{
    padding: 5px;
}
a{
    text-decoration: none;
    color: gray;
}
a:hover{
    color: rgb(221, 18, 214);
}
span{
    color: grey;
}
i{
    color: grey;
    font-size: 20px;
}
.sec-2 
{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.sec-2 p{
    color: grey;
    font-size: 24px;
    padding: 0;
}
.sec-2 a
{
    display: inline-block;
    padding: 10px 25px;
    background-color:red;
    color: white;
    margin-left:10px ;
    border-radius: 15px;
    font-size: 18px;
}
.sec-2 a:hover
{
    background-color: orange;
    color: black;
}
.sec-3
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}
.sec-3 ul
{
    list-style: none;
    margin: 20px;
}
.sec-3 ul li{
    display: inline-block;
    width: 60px;
    height: 60;
    padding: 20px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 20px;
}
.sec-3 ul li i{
    color: white;
    font-size: 24px;
    line-break: 20px;
    text-align: center;
}
.sec-3 ul li:nth-child(1):hover
{
    background-color: #3b5999;
}
.sec-3 ul li:nth-child(2):hover
{
    background-color: #55acee;
}
.sec-3 ul li:nth-child(3):hover
{
    background-color: #dd4b39;
}
.sec-3 ul li:nth-child(4):hover
{
    background-color: #0077B5;
}

.sec-3 ul li:nth-child(5):hover
{
    background-color: #ea4c89;
}
.sec-4 
{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    padding: 30px;
}
.sec-4 p{
    color: gray;
    position: relative;
}
.sec-4 p::after
{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -10px;
    background-color: yellow;
    transition: all .3s;
}
.sec-4 p:hover::after{
    width: 100%;
}
@media(max-width:765px)
{
    .main-content
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 40px;
    color: grey;
}
footer
{
    width: 100%;
    background-color: #26272b;
    opacity: .8;
}
.sec-1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10px;
}
.about
{
    width: 100%;
    margin-bottom: 25px;
}
.sec-1 h2{
    font-size: 18px;
    text-transform: uppercase;
    color: whitesmoke;
}
.about p{
    text-align: justify;
    color: grey;
    line-height: 24px;
    margin-top: 10px;
}
.sec-1 ul{
    list-style: none;
}
hr
{
    text-shadow: none;
    opacity: .2;
    
}
.sec-1 ul li
{
    padding: 5px;
}
a{
    text-decoration: none;
    color: gray;
}
a:hover{
    color: rgb(221, 18, 214);
}
span{
    color: grey;
}
i{
    color: grey;
    font-size: 20px;
}
.sec-2 
{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.sec-2 p{
    color: grey;
    font-size: 24px;
    padding: 0;
}
.sec-2 a
{
    display: inline-block;
    padding: 10px 25px;
    background-color:red;
    color: white;
    margin-left:10px ;
    border-radius: 15px;
    font-size: 18px;
}
.sec-2 a:hover
{
    background-color: orange;
    color: black;
}
.sec-3
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}
.sec-3 ul
{
    list-style: none;
    margin: 20px;
}
.sec-3 ul li{
    display: inline-block;
    width: 60px;
    height: 60;
    padding: 20px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 20px;
}
.sec-3 ul li i{
    color: white;
    font-size: 24px;
    line-break: 20px;
    text-align: center;
}
.sec-3 ul li:nth-child(1):hover
{
    background-color: #3b5999;
}
.sec-3 ul li:nth-child(2):hover
{
    background-color: #55acee;
}
.sec-3 ul li:nth-child(3):hover
{
    background-color: #dd4b39;
}
.sec-3 ul li:nth-child(4):hover
{
    background-color: #0077B5;
}

.sec-3 ul li:nth-child(5):hover
{
    background-color: #ea4c89;
}
.sec-4 
{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    padding: 30px;
}
.sec-4 p{
    color: gray;
    position: relative;
}
.sec-4 p::after
{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -10px;
    background-color: yellow;
    transition: all .3s;
}
.sec-4 p:hover::after{
    width: 100%;
}
}
@media(max-width:499px)

{
    .main-content
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 40px;
    color: grey;
}
footer
{
    width: 100%;
    background-color: #26272b;
    opacity: .8;
}
.sec-1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
}
.about
{
    width: 100%;
}
.sec-1 h2{
    font-size: 18px;
    text-transform: uppercase;
    color: whitesmoke;
    margin-top: 20px;
}
.about p{
    text-align: justify;
    color: grey;
    line-height: 24px;
    margin-top: 10px;
}
.sec-1 ul{
    list-style: none;
}
hr
{
    text-shadow: none;
    opacity: .2;
    
}
.sec-1 ul li
{
    padding: 5px;
}
a{
    text-decoration: none;
    color: gray;
}
a:hover{
    color: rgb(221, 18, 214);
}
span{
    color: grey;
}
i{
    color: grey;
    font-size: 15px;
}
.sec-2 
{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.sec-2 p{
    color: grey;
    font-size: 24px;
    padding: 0;
}
.sec-2 a
{
    display: inline-block;
    padding: 10px 25px;
    background-color:red;
    color: white;
    margin-left:10px ;
    border-radius: 15px;
    font-size: 18px;
}
.sec-2 a:hover
{
    background-color: orange;
    color: black;
}
.sec-3
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}
.sec-3 ul
{
    list-style: none;
    margin: 20px;
}
.sec-3 ul li{
    display: inline-block;
    width: 33px;
    height: 33px;
    padding: 6px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 5px;
}
.sec-3 ul li i{
    color: white;
    font-size: 24px;
    line-break: 20px;
    text-align: center;
}
.sec-3 ul li:nth-child(1):hover
{
    background-color: #3b5999;
}
.sec-3 ul li:nth-child(2):hover
{
    background-color: #55acee;
}
.sec-3 ul li:nth-child(3):hover
{
    background-color: #dd4b39;
}
.sec-3 ul li:nth-child(4):hover
{
    background-color: #0077B5;
}

.sec-3 ul li:nth-child(5):hover
{
    background-color: #ea4c89;
}
.sec-4 
{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    padding: 30px;
}
.sec-4 p{
    color: gray;
    position: relative;
}
.sec-4 p::after
{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -10px;
    background-color: yellow;
    transition: all .3s;
}
.sec-4 p:hover::after{
    width: 100%;
}
}